
body{
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

h2 {
  color: #F4CE14;
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: all 0.2s ease-in-out;
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
}

.navLinks li {
  display: inline-block;
  border-radius: 16px;
  padding: 0.5em 1em;
}

.navLinks li a{
  color: #000000;
  white-space: nowrap;
}

.navLinks li:hover{
  background-color: #F4CE14;
  transition: background-color 1s ease;
}

.header {
  background-color: #495e57;
  padding: 40px 13%;
  display: flex;
  overflow: auto;
  justify-content: space-between;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: all 0.2s ease-in-out;
}

.header section {
  color: #EDEFEE;
  padding: 10px ;
  width: 40%;
  min-width: 10em;
  margin-right: 5%;
}

.header > img {
  max-width: 40%;
  min-width: 20em;
  height: auto;
  object-fit: contain;

}

.headerText{
  margin-bottom: 4em;
}

.hidden{
  display: none;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.button {
  background-color: #F4CE14;
  color: black;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover{
  background-color: #ffd814;
}
.footer{
  padding: 30px 13%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: auto;
  background-color: #495E57;
  transition: all 0.2s ease-in-out;
}
.footer >img{
  max-width: 10%;
  min-width: 5em;
  height: auto;
  margin-top: 1em;
  border-radius: 6px;
}

.footer a{
  color: #d4d4d4;

}

.footer a:hover{
  color: #a1a1a1;
}

#footerHeader{
  font-weight: bold;
  margin-bottom: 1em;
  color: #a1a1a1;
}

.footer li{
  margin-block: 0.5em;
}

.main{
  background-color: #f8f8f8;
}

.specials {
  padding: 10px 13%;
  transition: all 0.2s ease-in-out;
}
.testimonials {
  padding: 10px 13%;
  transition: all 0.2s ease-in-out;
}


.specialsHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card {
  min-width: 230px;
  max-width: 250px;
  height: 350px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s;
  margin-right: 2em;
  margin-left: 0.5em;
  margin-block: 2em;
}

.card:hover {
  transform: scale(1.05);
}

.card-image{
  width: 100%;
  height: 10em;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.card-image img{
  scale: 1.05;
  border-radius: 16px 16px 0 0;
}

.card-content{
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.card-Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0 0;
  padding: 0 0;
}
.card-cost {
  font-size: 18px;
  color: #ff5c5c;
  padding: 0 0;
  margin: 10px 0 0 0;
}
.card-description {
  font-size: 14px;
  color: #555;
  margin: 0 0;
  text-align: left;
}
.card-order-button{
  text-align: left;
  cursor: pointer;
  border-radius: 16px;
}

.card-order:hover{
  color: #727272;
  transition: background-color 1s ease;
}

.card-order{
  margin-right: 1em;
}

.testimonials{
  padding: 10px 13%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.testimonials-title-container{
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.review-container{
  display: flex;
  justify-content: center;
  padding: 20px;

  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.review-card {
  min-width: 8em;
  width:200px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s;
  margin-left: 10px;
}

.review-card:hover {
  transform: scale(1.05);
}

.review-rating {
  font-size: 18px;
  color: #ffcc00;
  margin-bottom: 8px;
}

.review-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.review-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.review-text {
  font-size: 14px;
  color: #555;
}

.description {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: all 0.2s ease-in-out;
  height: 30em;
}

.description-content{
  width:30%;
  min-width: 10em;
  margin-right: 3em;
}
.description-img1{
  margin-bottom: -3em;
  margin-right: -10em;
  max-width: 300px;
}

.description-img2{
  margin-bottom: 3em;
  max-width: 300px;
}

.description-imgs{
  min-width: 30em;
}

form {
  display: grid;
  max-width: 100%!important;
  gap: 16px;
  padding: 50px 13%;
  background-color: #f8f8f8;
  transition: all 0.2s ease-in-out;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #333;
}

input,
select {
  max-width: 20em;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;

}

input:focus,
select:focus {
  outline: none;
  border-color: #42424280;
  box-shadow: 0 0 3px #3b3b3b7e;
}

.form-button{
  margin-top: 1.5em;
  max-width: 15em;
  font-size: 15px;
}

.confirmed{
  padding: 300px 13%;
  background-color: #f8f8f8;
  transition: all 0.2s ease-in-out;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.confirm-text{
  margin-bottom: 2em;
}
.confirm-button{
  text-wrap: nowrap;
}

@media (max-width: 840px){

  .container-responsive-padding{
    padding-inline: 2%;
  }

  .navLinks {
    display: none;
  }

  .navLinks.visible {
    display: flex;
    background: #edefee;
    padding: 10px 0;
    flex-direction: column;
    position: absolute;
    top: 60px;
    Right: 3%;
    width: 130px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
  }

  .navLinks.visible li a {
    color: #000000;
  }

  .hamburgerMenu {
    display: block;
    cursor: pointer;
  }
  .navbar{
    padding: 10px 3%;
    transition: all 0.2s ease-in-out;
  }
  .header{
    padding: 40px 3%;
    transition: all 0.2s ease-in-out;
  }
  .specials {
    padding: 10px 3%;
    transition: all 0.2s ease-in-out;
  }
  .testimonials {
    padding: 10px 3%;
    transition: all 0.2s ease-in-out;
  }

  .testimonials-title-container{
    justify-content: flex-start;
    transition: all 1s ease-in-out;
  }
  .review-container{
    justify-content: flex-start;
  }
  .description {
    padding: 10px 3%;
    transition: all 0.2s ease-in-out;
  }
  .footer{
    padding: 30px 3%;
    transition: all 0.2s ease-in-out;
  }
  form{
    padding: 50px 3%;
    transition: all 0.2s ease-in-out;
  }
  .confirmed{
    padding: 300px 3%;
    transition: all 0.2s ease-in-out;
  }
}


